@page
@using Checkout.DataAccess
@using Checkout.Pages
@using Microsoft.EntityFrameworkCore
@model Checkout.Pages.IndexModel
@inject DataContext context
@{
    Layout = "Shared/_Layout";
    context.Database.EnsureCreated();

    var sql = @"
            SELECT
                ofr.Id as OfferId
                ,ofr.Country as Country
                ,ofr.Name as OfferName
                ,p.Name as ProductName
                ,p.Description as ProductDescription
                ,ofr.Price as OfferPrice
                ,p.ImageUrl as ImageUrl
            FROM 
                Offers ofr
            INNER JOIN Product p
                ON p.Id = ofr.ProductId
        ";
    var offers = context.Database.SqlQueryRaw<IndexDto>(sql);
}

<div class="row mb-2">
    @foreach (var offer in offers.ToList())
    {
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">@offer.ProductName</h3>
                    <strong class="d-inline-block mb-2">@offer.OfferName</strong>
                    <p class="card-text mb-auto">@offer.ProductDescription</p>
                    <a href="@Url.Page("Checkout", new { offerId = offer.OfferId })" class="text-decoration-none">Buy now</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="@offer.ImageUrl" style="max-height: 200px" />
                </div>
            </div>
        </div>
    }
</div>